<div class="profile-edit-container">
  <h1 class="profile-title">Set Your Profile</h1>

  <%= form_for(@profile, url: profile_path, method: :patch) do |f| %>
    <div class="field">
      <%= f.label :name, class: 'profile-label' %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :age, class: 'profile-label' %>
      <%= f.number_field :age, in: 16..99 %>
    </div>
    <div class="field">
      <%= f.label :gender, class: 'profile-label' %>
      <%= f.select :gender, [['Male', 'male'], ['Female', 'female'], ['Other', 'other']] %>
    </div>
    <div class="field">
      <%= f.label :height, class: 'profile-label' %>
      <%= f.text_field :height, placeholder: "Height (in meters)" %>
    </div>
    <div class="field">
      <%= f.label :weight, class: 'profile-label' %>
      <%= f.text_field :weight, placeholder: "Weight in kilos" %>
    </div>
    <div class="field">
      <%= f.label :city, class: 'profile-label' %>
       <%= f.text_field :city, placeholder: "City where you live" %>
    </div>
    <div class="field">
      <%= f.label :address, class: 'profile-label' %>
       <%= f.text_field :address, placeholder: "Your address" %>
    </div>
    <div class="field">
      <%= f.label :goal, class: 'profile-label' %>
      <%= f.text_area :goal %>
    </div>
    <div class="actions">
      <%= f.submit "Save Changes", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
