<div class="profile-container">
  <h1>Your Profile</h1>
  <p><strong>Name:</strong> <%= @profile.name %></p>
  <p><strong>Age:</strong> <%= @profile.age %></p>
  <p><strong>Gender:</strong> <%= @profile.gender %></p>
  <p><strong>Goal:</strong> <%= @profile.goal %></p>
  <p><strong>Height:</strong> <%= @profile.height %></p>
  <p><strong>Weight:</strong> <%= @profile.weight %></p>
  <p><strong>Address:</strong> <%= @profile.address %></p>
  <%= link_to 'Edit Profile', edit_profile_path, class: 'btn btn-primary' %>
  <%= link_to "Back", home_path, class: "btn btn-secondary", onclick: "window.location.href='#{home_path}'" %>
</div>
