<div class="profile-container" data-controller="popup">
  <button class="btn btn-dots" data-action="click->popup#toggleMenu">...</button>

  <div class="popup-menu hidden" data-popup-target="menu">
    <ul>
      <li><a href="<%= root_path %>">Edit Profile</a></li>
      <li><%= link_to 'Log Off', destroy_user_session_path, data: { turbo_method: :delete, confirm: 'Are you sure?' } %></li>
    </ul>
  </div>

  <div class="card profile-card">
    <div class="profile-details">
      <%= image_tag @profile.profile_picture, alt: "placeholder image", class: "profile-image" %>
      <div class="profile-info">
        <p><strong></strong> <%= @profile.name %></p>
        <p><strong>"</strong> <%= @profile.goal %>"</p>
        <div class="level-bar-container">
            <div class="level-number"><%= @profile.level %></div>
          <div class="level-bar">
            <div class="level-bar-fill" style="width:<%= @profile.experience_points.to_f /  Profile::LEVEL_THRESHOLDS[ current_user.profile.level + 1] * 100 %>%" id="level-bar-fill"></div>
          </div>
          <p id="xp-display"><span id="current-xp"><%= @profile.experience_points %></span>/<span id="xp-to-next-level"><%= Profile::LEVEL_THRESHOLDS[ current_user.profile.level + 1] %></span></p>
        </div>
      </div>
    </div>
  </div>

<div class="card achievements-card d-flex flex-column">
    <div class="achievements-images">
      <% if current_user.pushups_counter && current_user.pushups_counter > 100 %>
        <%= image_tag 'push_ups.png', alt: 'Push-ups Achievement' %>
      <% end %>

      <% if current_user.squats_counter && current_user.squats_counter > 100 %>
        <%= image_tag 'squat.png', alt: 'Squats Achievement' %>
      <% end %>

      <% if current_user.pullups_counter && current_user.pullups_counter > 100 %>
        <%= image_tag 'pull_up.png', alt: 'Pull-ups Achievement' %>
      <% end %>

    </div>
      <div id="achievement-bar-podium"></div>
</div>

  <div class="card stats-card">
    <div class="stats-details">
      <div class="stat">
        <p id="total-workouts" class="stat-number"><%= @profile.total_workouts_logged %></p>
        <p class="stat-value"><strong># Workouts</strong></p>
      </div>
      <div class="stat">
        <p id="total-volume" class="stat-number"><%= @profile.total_volume_lifted.to_i %>kg</p>
        <p class="stat-value"><strong>Total Volume</strong></p>
      </div>
      <div class="stat">
        <p id="total-time" class="stat-number"><%= @profile.total_time_spent_in_gym %></p>
        <p class="stat-value"><strong>Time in Gym</strong></p>
      </div>
    </div>
  </div>

  <div class="card dynamic-image-card">
    <p>Muscles worked this week</p>
    <%= image_tag 'cardio.png', alt: "Dynamic image placeholder", class: "dynamic-image" %>
  </div>
</div>
