<div class="header-image">
  <img src="https://img.freepik.com/free-photo/woman-gym-with-smartphone-template_23-2148111618.jpg?w=1800&t=st=1721248405~exp=1721249005~hmac=6a215378d17db3cfeef770beaabcf3461693e33141c0004b5f8a078d2b7ff949" alt="Gym Image">
</div>

<div class="content">
  <h1>Today is <%= @workout.name %> day</h1>

  <ul class="workout-exercises-list">
    <% @workout_exercises.each do |workout_exercise| %>
      <li class="workout-exercise-item">
        <img class="exercise-image" src="<%= workout_exercise.exercise.image_url %>" alt="<%= workout_exercise.exercise.name %>">
        <div class="exercise-details">
          <h3 class="exercise-name"><%= workout_exercise.exercise.name %></h3>
          <p class="exercise-instruction"><%= workout_exercise.exercise.description %></p>
          <p class="exercise-sets">Sets: <%= workout_exercise.set %></p>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="button-container">
  <% if params[:from_freestyle] == 'true' %>
    <%= link_to "Back to Freestyle", workout_path(@workout, from_freestyle: 'true'), class: "btn btn-primary-custom" %>
  <% else %>
    <%= link_to "Back to Overview", overview_workout_path(@workout), class: "btn btn-primary-custom" %>
  <% end %>
  <%= link_to "Start Workout", workout_exercise_path(@workout_exercise), class: "btn btn-success-custom" %>
</div>

