<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Workout Page</title>
</head>
<body>
    <div class="center-content">
        <div class="header-image">
            <img src="https://img.freepik.com/free-photo/smiley-woman-gym-outfit-enjoying-music-headphones_23-2148398814.jpg?uid=R156501570&ga=GA1.1.2040644916.1721225651" alt="Gym Image">
        </div>

        <div class="content">
            <h1>Today is <%= @workout.name %> day</h1>
            <ul class="workout-exercises-list">
                <% @workout_exercises.each do |workout_exercise| %>
                <li class="workout-exercise-item">
                    <div class="card-workouts">
                        <div class="exercise-image-box">
                          <img class="exercise-image" src="<%= workout_exercise.exercise.image_url %>" alt="<%= workout_exercise.exercise.name %>">
                        </div>
                        <div class="exercise-details d-flex flex-column justify-content-between">
                            <div class="exercise-name-box">
                              <h2 class="exercise-name"><%= workout_exercise.exercise.name %></h2>
                            </div>
                            <div class="exercise-info-box">
                              <p class="exercise-instruction"><%= workout_exercise.exercise.description %></p>
                              <p class="exercise-sets">🔁 <%= workout_exercise.set %> sets,  <%= workout_exercise.volume %> volumes</p>
                            </div>
                        </div>
                    </div>
                </li>
                <% end %>
            </ul>

            <div class="button-container">
                <% if params[:from_freestyle] == 'true' %>
                    <%= link_to "Back to Freestyle", workout_path(@workout, from_freestyle: 'true'), class: "btn btn-primary-custom" %>
                <% else %>
                    <%= link_to "Back", overview_workout_path(@workout), class: "btn btn-primary-custom-description" %>
                <% end %>
                <%= button_to "Start Workout", start_workout_path(@workout), method: :patch, class: "btn btn-success-custom-description" %>
            </div>
        </div>
    </div>
</body>
</html>
