<%= form_with url: add_exercise_workout_path(@workout, from_freestyle: params[:from_freestyle]), method: :post, local: true, html: { class: 'freestyle-workout-form' } do |form| %>
  <%= hidden_field_tag :from_freestyle, params[:from_freestyle] || 'false' %>
<h2>💪</h2>
<h1>Add a exercise!</h1>
  <div class="form-group">
    <%= form.label :exercise_id, 'Exercise:', class: 'form-label' %>
    <%= form.collection_select :exercise_id, Exercise.all, :id, :name %>
  </div>

  <div class="form-group">
    <%= form.label :kg, 'Weight (kg):', class: 'form-label' %>
    <%= form.number_field :kg %>
  </div>

  <div class="form-group">
    <%= form.label :volume, 'Volume:', class: 'form-label' %>
    <%= form.number_field :volume %>
  </div>

  <% if @selected_exercise %>
    <div>
      <label>Time: <%= @selected_exercise.workout_exercises.first.time.strftime("%M").to_i %></label>
      <%= form.hidden_field :time, value: @selected_exercise.workout_exercises.first.time %>
    </div>
    <div>
      <label>Calories: <%= @selected_exercise.workout_exercises.first.calories %></label>
      <%= form.hidden_field :calories, value: @selected_exercise.workout_exercises.first.calories %>
    </div>
  <% end %>

  <div class="buttons">
    <%= form.submit 'Add Exercise', class: "btn btn-primary" %>
    <%= link_to "Back to Workout", workout_path(@workout, from_freestyle: params[:from_freestyle]), class: "btn btn-secondary" %>
  </div>
<% end %>
