<h1>Freestyle Workout</h1>

<%= form_with url: add_exercise_workout_path(@workout), local: true do |f| %>
  <div>
    <%= label_tag :exercise_id, 'Choose Exercise' %>
    <%= select_tag :exercise_id, options_from_collection_for_select(@exercises, :id, :name) %>
  </div>
  <div>
    <%= label_tag :kg, 'Weight (kg)' %>
    <%= number_field_tag :kg %>
  </div>
  <div>
    <%= label_tag :volume, 'Volume / Sets' %>
    <%= number_field_tag :volume %>
  </div>
  <div>
    <%= submit_tag 'Add Exercise' %>
  </div>
<% end %>

<%= link_to 'Back to Workout', workout_path(@workout) %>
