<div class="center-content">
  <h1>Today is <%= @workout.name %> day</h1>

  <%= image_tag "#{@workout.name.downcase}.png" %>

  <div>
    <p><strong>Activated muscles:</strong> <%= @workout.muscle_group %></p>
    <p>â° <%= @duration %> minutes</p>
  </div>

  <div class="button-container">
    <%= link_to "Program Guide", description_workout_path(@workout), class: "btn btn-primary-custom" %>
    <%#= link_to "Start Workout", workout_exercise_path(@workout_exercise), class: "btn btn-success-custom" %>
    <%= button_to 'Start Workout', start_workout_path(@workout), method: :patch, class: "btn btn-success-custom" %>
  </div>
</div>
