<div class="center-content">
  <div class="workout-show-container">
    <h1>Today is <br> <%= @workout.name %> day</h1>
    <%= image_tag "#{@workout.name.downcase}.png" %>
    <% if @workout.workout_exercises.any? %>
      <ul class="exercise-list">
        <% @workout.workout_exercises.each do |workout_exercise| %>
          <li class="exercise-item">
            <div class="exercise-info">
              <span class="exercise-name"><%= workout_exercise.exercise.name %></span>
              <span class="exercise-details">Weight: <%= workout_exercise.kg %> kg, Volume: <%= workout_exercise.volume %></span>
            </div>
            <%= button_to remove_exercise_workout_path(@workout, exercise_id: workout_exercise.exercise_id, from_freestyle: params[:from_freestyle]), method: :delete, class: "btn btn-danger-custom", data: { confirm: 'Are you sure you want to remove this exercise?' } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No exercises added yet.</p>
    <% end %>

    <%= link_to 'Add Exercises', freestyle_workout_path(@workout), class: "btn btn-add-exercise", style: "margin-bottom: 30px; margin-top: 20px;" %>

    <div class="button-container" id="exercise_list">
      <% if @in_freestyle_mode %>
        <%= link_to "See List of Exercises", description_workout_path(@workout, from_freestyle: true), class: "btn freestyle-btn-primary-custom" %>
      <% else %>
        <%= link_to "See List of Exercises", description_workout_path(@workout, from_freestyle: true), class: "btn freestyle-btn-primary-custom" %>
      <% end %>
      <%= button_to 'Start Workout', freestyle_start_workout_path(@workout), method: :patch, class: "btn freestyle-btn-success-custom" %>
    </div>
  </div>
</div>
