<h1>Awesome!</h1>

<div class="workout-summary">
  <div class="card">
    <p>Total Time: <%= @duration %> minutes</p>
  </div>
  <div class="card">
    <p>Total Volume: <%= @total_kg_lifted %> KG</p>
  </div>
  <div class="card">
    <p>Total Calories Burnt: <%= @calories_burnt %> kcal</p>
  </div>
  <div class="card">
    <p>PRs: <%= @pr_count %></p>
  </div>

  <table>
    <thead>
      <tr>
        <th>Exercise</th>
        <th>Volume</th>
      </tr>
    </thead>
    <tbody>
      <% @exercise_detail.each do |exercise| %>
        <tr>
          <td><%= exercise[:name] %></td>
          <td><%= exercise[:volume] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
