<div class="update-container d-flex justify-content-evenly mt-3" data-controller="update"
                                                                data-update-start-time="<%= @day_summary.start_time.iso8601 %>"
                                                                data-update-calories-burnt-per-second="<%= @calories_burnt_per_second %>"
                                                                data-update-total-calories-burnt="<%= @total_calories_burnt %>">
  <div class="update-item">
    <p>Calories</p>
    <span id="calories_burnt" data-update-target="caloriesBurnt"><%= @total_calories_burnt.round(2) %></span> kcals
  </div>
  <div class="update-item">
    <p>Time</p>
    <span id="timer" data-update-target="timer">00:00:00</span>
  </div>
</div>

<div class="exercise-instruction d-flex flex-column p-3">
  <h3 class="text-center my-3"><%= @current_freestyle_exercise.description %></h3>
  <%= image_tag @current_freestyle_exercise.image_url, style:"width:80%; margin:0 auto" %>
  <div class="exercise-info" style="margin-top: 30px">
    <p>Activated Muscles: <%= @current_freestyle_exercise.muscle_group %></p>
    <p>Instruction:<br><%= @current_freestyle_exercise.instruction %></p>
  </div>
  <div class="exercise-buttons m-auto" data-controller="toggle-video">
    <%# <button> history </button> %>
    <button id="watch-button"data-toggle-video-target="watch" data-action="click->toggle-video#toggle">Watch Video</button>
    <div data-toggle-video-target="content" class="d-none">
      <%# <p class="">hello</p> %>
      <%#= video_tag @current_freestyle_exercise.video_url, class:"" %>
      <iframe class="mt-3"style="width:95%; margin:0 auto;" src="<%= @current_freestyle_exercise.video_url %>" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="button-container d-flex justify-content-between" style="width:80%; margin:0 auto; margin-top: 30px; margin-bottom:200px">
  <%#= link_to "EndWorkout", summary_workout_path(@workout), class: "btn btn-primary-custom" %>
  <%= button_to 'End', stop_workout_exercise_path(@workout_exercise), method: :patch, class: "sec-btn" %>
  <%= link_to "Skip", workout_exercise_path(@workout_exercise.id.to_i + 1), class: "sec-btn" %>
  <%# <button class="btn btn-success-custom" data-controller="next" data-next-url-value="<%= next_set_workout_exercise_path(@workout_exercise)%> <%#" data-action="click->next#next"> Complete this set</button> %>
  <% if @current_index < @max_index %>
    <%= button_to 'Next set', update_last_time_workout_exercise_path(@workout_exercise), method: :patch, class: "pri-btn", form: { data: { turbo: false } } %>
  <% else %>
    <%#= link_to "COMPLETED", summary_workout_path(@workout), class: "pri-btn" %>
    <%= button_to 'Complete', stop_workout_exercise_path(@workout_exercise), method: :patch, class: "pri-btn-complete" %>
  <% end %>
</div>
