<h1> You're doing <%= @current_exercise.name %></h1>

<div class="update-container d-flex justify-content-evenly">
  <p class= "btn  btn-primary rounded">
    Calories 500kcal
  </p>
  <p class= "btn btn-primary rounded">
    <span id="timer">00:00:00</span>
  </p>
</div>

<div class="exercise-instruction d-flex flex-column m-auto p-3" style="width:80%; margin:0 auto; box-shadow: 10px 5px 5px gray;">
  <h3 class="text-center my-3"><%= @current_exercise.description %></h3>
  <%= image_tag @current_exercise.image_url, style:"width:80%; margin:0 auto" %>
  <div class="exercise-info" style="margin-top: 30px">
    <p>Activated Muscles: <%= @current_exercise.muscle_group %></p>
    <p>Instruction:<br><%= @current_exercise.instruction %></p>
  </div>
  <div class="exercise-buttons m-auto" data-controller="toggle-video">
    <button> history </button>
    <button data-toggle-video-target="watch" data-action="click->toggle-video#toggle">Watch Video</button>
    <div data-toggle-video-target="content">
      <%# <p class="">hello</p> %>
      <%#= video_tag @current_exercise.video_url, class:"" %>
      <iframe class="mt-3"style="width:95%; margin:0 auto;" src="<%= @current_exercise.video_url %>" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="button-container" style="width:80%; margin:0 auto; margin-top: 30px; margin-bottom:200px">
  <%#= link_to "EndWorkout", summary_workout_path(@workout), class: "btn btn-primary-custom" %>
  <%= button_to 'End now', stop_workout_exercise_path(@workout_exercise), method: :patch, class: "btn btn-primary-custom" %>
  <%= link_to "Skip this Set", "#", class: "btn btn-primary-custom" %>
  <%# <button class="btn btn-success-custom" data-controller="next" data-next-url-value="<%= next_set_workout_exercise_path(@workout_exercise)%> <%#" data-action="click->next#next"> Complete this set</button> %>
  <% if @current_index < @max_index %>
  <%= link_to "Next set", workout_exercise_path(@workout_exercise.id.to_i + 1), class: "btn btn-primary-custom" %>
  <% else %>
    <%#= link_to "COMPLETED", summary_workout_path(@workout), class: "btn btn-primary-custom" %>
    <%= button_to 'Stop Workout', stop_workout_exercise_path(@workout_exercise), method: :patch, class: "btn btn-primary-custom" %>

  <% end %>
</div>

<script>
function updateTime() {
  const startTime = new Date('<%= @day_summary.start_time.iso8601 %>');
  const now = new Date();
  const diff = new Date(now - startTime);
  const hours = String(diff.getUTCHours()).padStart(2, '0');
  const minutes = String(diff.getUTCMinutes()).padStart(2, '0');
  const seconds = String(diff.getUTCSeconds()).padStart(2, '0');
  document.getElementById("timer").textContent = `${hours}:${minutes}:${seconds}`;
}

document.addEventListener('DOMContentLoaded', (event) => {
  updateTime();
  setInterval(updateTime, 1000);
});
</script>
