<div class="group-class-img-container">
  <div class="img-box d-flex justify-content-center">
    <%= image_tag @group_class.image_url, alt: "Random Image", class:"rand-image rounded-5" %>
    <div class="group-class-img-info d-flex justify-content-end">
      <%# <div class="activity-category d-flex flex-column justify-content-center align-items-center">
        <p class="activity-item mb-0 rounded-circle" >🔥</p>
        <p class="activity-result"> 225kcal </p> %>
      <%# </div> %>
      <div class="group-class-category d-flex flex-column justify-content-center align-items-center">
        <p class="group-class-item mb-0 rounded-circle">⏳</p>
        <p class="group-class-result"> 60min </p>
      </div>
      <div class="group-class-category d-flex flex-column justify-content-center align-items-center">
        <p class="group-class-item mb-0 rounded-circle" >⛳️</p>
        <p class="group-class-result"> <%=@group_class.level%> </p>
      </div>
    </div>
    <div class="group-class-img-title">
      <h2 class="fs-1"><%= @group_class.name %></h2>
    </div>
  </div>
</div>

<div class="text-container">
  <p class="mb-4 group-classes-show-text">
  📍 <%= @group_class.address %><br>
  ⏱️ <%= @group_class.time.strftime('%H:%M') %>, <%=@group_class.date.day %> <%=@group_class.date.strftime("%b") %> (<%=@group_class.date.strftime("%a")%>), <%=@group_class.date.strftime("%Y")%><br>
  <span class="emoji">👥</span> <span class="students"><%= @group_class.limit_of_students %></span>
  </p>

  <div class="mb-2">
    <p class="mb-0"><%= @group_class.description %></p>
  </div>

  <div class="mt-5">
    <p class="mb-0 fw-bold"> Contact</p>
    <p class="mb-0"><%= @group_class.contact %></p>
  </div>
</div>
