<!DOCTYPE html>
<html>
  <head>
    <title>CleverFit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" 'your_stylesheet', media: 'all' %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%# <nav> %>
      <%# if user_signed_in? %>
        <%#= link_to 'My Profile', profile_path %>
      <%# end %>
    <%# </nav> %>

    <%= yield %>
    <% if controller_name == 'pages' && action_name == 'home' %>
      <%= render "shared/bottom_bar"%>
    <% end %>
    <% if controller_name == 'workouts' && action_name == 'overview'%>
      <%= render "shared/bottom_bar"%>
    <% end %>
    <% if controller_name == 'workouts' && action_name == 'summary' %>
      <%= render "shared/bottom_bar"%>
    <% end %>
    <% if controller_name == 'profiles' && action_name == 'show' %>
      <%= render "shared/bottom_bar"%>
    <% end %>
    <% if controller_name == 'group_classes' && action_name == 'show' %>
      <%= render "shared/bottom_bar"%>
    <% end %>
  </body>
</html>
